{erl_opts, [{parse_transform, lager_transform}, debug_info]}.
{edoc_opts, [{dir, "./edoc"}]}.

{deps, [eleveldb,
        lager,
        riak_dt,
        protobuffs,
        ranch,
        sext,
        %% eper
        {cluster_info, ".*", {git, "git://github.com/basho/cluster_info", {branch, "develop"}}}
        ]}.

{project_plugins, [rebar3_cuttlefish]}.

{plugins, [rebar3_protobuffs]}.
{provider_hooks, [{pre, [{compile, {protobuffs, compile}}]}]}.

{relx, [{release, {machi, "0.0.0"},
        [machi]},

        {dev_mode, true},
        {include_erts, false},

        {overlay_vars, ["config/vars.config"]}]}.
